/**************************
GENERAL
**************************/

body {
  background-color: #fafafa;
  margin: 0;
}

.container {
  margin: 3% 5%;
}



/**************************
HEADER
**************************/

header {
  color: #00AEE6;
}

.logo {
  margin-top: 0;
}

.welcome-text {
  float: right;
  display: inline-block;

}

.welcome-text p {
  display: inline-block;
}

.welcome-text a {
  color: inherit;
}



/**************************
NAV
**************************/

.categories {
  /*border: 1px solid #5e5e5e;*/
  border-bottom: 3px solid #00aee6;
  padding: 0;
  margin-bottom: 0;
}

.category {
  display: inline-block;
  list-style-type: none;
  margin-right: 10  px;
  padding: 15px;
  cursor: pointer;
}

.category:hover {
  transition: background-color .5s;
  background-color: #00aee6;
  color: white;
}

.category a {
  padding: 25px;
  color: inherit;
  font-weight: bold;
  text-decoration: none;
}

/**************************
SHOWCASE
**************************/

/*.showcase {
  width: 100%;
}

.showcase-container {
  position: relative;
}

.showcase img {
  position: absolute;
  width: 100%;
  height: 350px;
}

.showcase-title {
  position: absolute;
  width: 90%;
  height: 60px;
  padding: 20px 5% 0;
  background-color: rgb(23, 23, 23, .2);
  bottom: -370px;
}*/

/**************************
INDEX
**************************/

.admin-login {
  font-style: italic;
  font-size: .8em;
  float: right;
}

.admin-login a {
  color: #777;
}


/**************************
LOGIN & REGISTER FORMS
**************************/

.form-container {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.user-form {
  background-color: white;
  box-shadow: 1px 1px 5px 1px #bbb;
  position: absolute;
  padding: 25px 25px 40px;
  height: auto;
  width: 350px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.user-form h1 {
  color: #00aee6;
  font-size: 3em;
  margin-bottom: 65px;
}

.input-field-container {
  width: 250px;
  position: relative;
  overflow: hidden;
  margin: 0 auto 15px;
}

.input-field {
  height: 30px;
  width: 250px;
  border: 0;
  border-bottom: 1px solid #666;
  margin-bottom: 5px;
  padding-top: 10px;
  font-size: 1em;
  color: #666;
}

.input-field:focus {
  transition: color .5s;
  color: #00aee6;
}

.input-placeholder {
  position: absolute;
  color: #666;
  pointer-events: none;
  font-size: 1em;
  top: 15px;
}

.input-placeholder-focused {
  transition: all .5s;
  top: 0px;
  font-size: 0.7em;
  color: #00aee6;
}

.input-placeholder-blurred {
  transition: all .5s;
  top: 15px;
  font-size: 1em;
  color: #666;
}

.input-placeholder-blurred-full {
  transition: color .5s;
  top: 0px;
  font-size: 0.7em;
  color: #666;
}

.border {
  position: absolute;
  width: 250px;
  height: 2px;
  background-color: #00aee6;
  top: 40px;
  right: 98px;
  left: -250px;
}

.border-focused {
  transition: left .3s;
  left: 0;
}

.border-blurred {
  transition: left .5s;
  left: -250px;
}

.submit-button {
  width: 250px;
  height: 35px;
  border: 0;
  background-color: #00aee6;
  border-radius: 50px;
  margin-top: 40px;
  color: white;
  font-weight: bold;
  box-shadow: 1px 1px 5px 1px #bbb;
  cursor: pointer;
}

.submit-button:hover {
  margin-top: 38px;
  transition: margin-top .2s;
  box-shadow: 1px 1px 10px 1px #bbb;
}
